* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sideBar {
  position: relative;
  flex-direction: column;
  height: auto;
  padding: 16px 8px;
  width: 200px;
  background-color: #6461DA;
  transition: 0.5s ease;
  box-shadow: 0px 4px 5px #00000093;
}

.button {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background-color: #4644cc;
  border-style: none;
  color: #f8fcff;
  transition: 0.5s ease;
  transform: translateX(128px);
}

.navBar__title {
  padding: 8px;
  font-size: 1rem;
  font-weight: 700;
}

.sideBar__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sideBar__icon {
  display: flex;
  color: #f8fcff;
}

svg {
  width: 20px;
  height: 20px;
}

.sideBar__list__word {
  color: #1f1f1f;
  overflow: hidden;
}

.sideBar__list__item {
  display: flex;
  white-space: nowrap;
  align-items: center;
  border-radius: 4px;
  padding: 8px 8px;

  &:hover {
    background-color:#4644cc;
    font-weight: 600;
  }
}

.sideBar__list__word {
  display: flex;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  padding-left: 16px;
  color: #f8fcff;
  align-items: center;
}

.sideBar__link {
  text-decoration: none;
}

.closed {
  width: 48px;
  padding: 16px 4px;

  .button {
    transform: rotateY(180deg);
    margin: 0 0 8px 4px;
  }

  .sideBar__list__word {
    display: none;
  }

  .sideBar__link {
    display: flex;

    &:hover {
      border-radius: 4px;
    }
  }
}
